---
import Layout from '@/layouts/Layout.astro'
import { SITE_TITLE } from '../const'
import PageTitle from '@/components/PageTitle.astro'
---

<Layout
  title={`Contacto | ${SITE_TITLE}`}
  description='Información de Contacto'
>
  <PageTitle>
    Contacto
    <span slot='badge'>No dudes es buscarme</span>
  </PageTitle>
</Layout>
