---
import Layout from '@/layouts/Layout.astro'
import { SITE_TITLE } from '../const'
---

<Layout
  title={`Contacto | ${SITE_TITLE}`}
  description='Información de Contacto'
>
  <h1>Contacto</h1>
</Layout>
