---
import Layout from '@/layouts/Layout.astro'
import { SITE_TITLE } from '../const'
import PageTitle from '@/components/PageTitle.astro'
import Section from '@/components/Section.astro'
import Timeline from '@/components/Timeline.astro'
---

<Layout
  title={`Experiencia | ${SITE_TITLE}`}
  description='Experiencia laboral y otros proyectos'
>
  <PageTitle>
    Experiencia Laboral
    <span slot='badge'>En desarrollo</span>
  </PageTitle>
  <Section>
    <Timeline />
  </Section>
</Layout>
