---
import Layout from '../layouts/Layout.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../const'
import Skills from '@/components/Skills.astro'
import Social from '@/components/Social.astro'
---

<Layout
  title={SITE_TITLE}
  description={SITE_DESCRIPTION}
>
  <header class='mt-16'>
    <h1 class='mb-6 flex flex-wrap items-center gap-4 text-4xl font-bold'>
      Hola, soy Jorgeabf <span
        class='px-2 py-1 border-2 border-green-500 border-dashed rounded-full text-green-400 text-xs font-medium'
        >Dispuesto a trabajar</span
      >
    </h1>
    <p class='mb-8 text-xl'>
      <strong class='text-blue-200 font-medium'>Desarrollador Web</strong> con m치s
      de 3 a침os de experiencia, mis puntos fuertes son la <strong
        class='text-blue-200 font-medium'>Maquetaci칩n</strong
      > y el <strong class='text-blue-200 font-medium'>Dise침o Adaptable</strong>
      en todos tipo de dispositivos. Estas son algunas de mis <strong
        class='text-blue-200 font-medium'>Habilidades</strong
      >:
    </p>
    <Skills />
    <Social />
  </header>
</Layout>
