---
import Badge from '../components/Badge.astro'
import Layout from '../layouts/Layout.astro'

const skills = [
  { color: 'red', skill: 'HTML' },
  { color: 'blue', skill: 'CSS' },
  { color: 'green', skill: 'JavaScript' },
  { color: 'yellow', skill: 'React' },
  { color: 'pink', skill: 'Vue' },
  { color: 'purple', skill: 'Node' },
  { color: 'indigo', skill: 'MongoDB' },
  { color: 'gray', skill: 'Git' }
]
---

<Layout title='Welcome to Astro.'>
  <header class='mt-16'>
    <h1 class='mb-6 flex items-center gap-4 text-4xl font-bold'>
      Hola, soy Jorgeabf <Badge color='green' class='rounded'>Dispuesto a trabajar</Badge>
    </h1>
    <p class='mb-8 text-xl'>
      Desarrollador Web con m치s de 3 a침os de experiencia, mis puntos fuertes son
      la Maquetaci칩n y el Dise침o Adaptable a todos tipo de dispositivos.
    </p>
    <aside class='flex justify-between flex-wrap'>
      {skills.map((skill) => <Badge color={skill.color}>{skill.skill}</Badge>)}
    </aside>
  </header>
</Layout>
