---
import Layout from '../layouts/Layout.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../const'
import Skills from '@/components/Skills.astro'
import PageTitle from '@/components/PageTitle.astro'
---

<Layout
  title={SITE_TITLE}
  description={SITE_DESCRIPTION}
>
  <header>
    <PageTitle>
      Hola, soy <span class='text-blue-200'>Jorge Arce</span><span slot='badge'
        >Dispuesto a trabajar</span
      >
    </PageTitle>
    <p class='mb-4 text-xl'>
      <strong class='text-blue-200 font-medium'>Desarrollador Web</strong> con m치s
      de 3 a침os de experiencia, mis puntos fuertes son la <strong
        class='text-blue-200 font-medium'>Maquetaci칩n</strong
      > y el <strong class='text-blue-200 font-medium'>Dise침o Adaptable</strong>
      en todos tipo de dispositivos.
    </p>
    <p class='mb-4 text-xl'>
      Estas son algunas de mis <strong class='text-blue-200 font-medium'
        >Habilidades</strong
      >:
    </p>
    <Skills />
  </header>
</Layout>
