---
import Badge from '../components/Badge.astro'
import Layout from '../layouts/Layout.astro'

const skills = [
  { color: 'orange', skill: 'HTML5' },
  { color: 'blue', skill: 'CSS3' },
  { color: 'yellow', skill: 'JavaScript' },
  { color: 'green', skill: 'Node.js' },
  { color: 'blue', skill: 'React' },
  { color: 'gray', skill: 'Next.js' },        
  { color: 'blue', skill: 'Tailwind' },
  { color: 'gray', skill: 'Git & GitHub' }
]
---

<Layout title='Welcome to Astro.'>
  <header class='mt-16'>
    <h1 class='mb-6 flex flex-wrap items-center gap-4 text-4xl font-bold'>
      Hola, soy Jorgeabf <span class='px-2 py-1 border border-green-500 border-dashed rounded-full text-green-400 text-xs font-medium'>Dispuesto a trabajar</span>
    </h1>
    <p class='mb-8 text-xl'>
      Desarrollador Web con m치s de 3 a침os de experiencia, mis puntos fuertes son
      la Maquetaci칩n y el Dise침o Adaptable en todos tipo de dispositivos.
    </p>
    <aside class='flex flex-wrap justify-center gap-4'>
      {skills.map((skill) => <Badge color={skill.color}>{skill.skill}</Badge>)}
    </aside>
  </header>
</Layout>
