---
import Layout from '@/layouts/Layout.astro'
import { SITE_TITLE } from '../const'
---

<Layout
  title={`Proyectos | ${SITE_TITLE}`}
  description='Mis proyectos y trabajos personales'
>
  <h1>Proyectos</h1>
</Layout>