---
import LogoIcon from '@/icons/LogoIcon.astro'
const navigation = [
  {
    label: 'sobre mi',
    href: '/'
  },
  {
    label: 'experiencia',
    href: '/experiencia'
  },
  {
    label: 'proyectos',
    href: '/proyectos'
  }
]
---

<header class='py-6 flex flex-wrap justify-between   items-start md:items-center gap-x-6 gap-y-4'>
  <div class='mr-auto flex items-center'>
    <LogoIcon />
    <span class='ml-1 font-bold text-xl'>JorgeAbf.</span>
  </div>

  <nav class='flex flex-col md:flex-row flex-wrap gap-x-8 gap-y-2'>
    {
      navigation.map((item) => (
        <a
          class='font-medium capitalize opacity-80 hover:opacity-100 transition-opacity duration-200'
          href={item.href}
        >
          {item.label}
        </a>
      ))
    }
  </nav>
</header>
