<header class="py-4 flex justify-between items-center">
  <img
    src='/favicon.svg'
    alt='Logotipo de Jorge Arce'
    width="32"
    height="32"
  />
  <nav class="flex gap-10 capitalize opacity-80">
    <a href='/home'>home</a>
    <a href='/about'>about</a>
    <a href='/proyectos'>proyectos</a>
    <a href='/contacto'>contacto</a>
  </nav>
</header>
