<h1 class='mt-8 md:mt-16 flex flex-wrap items-center gap-4 text-3xl font-bold'>
  <slot />
  <span
    class='px-2 py-1 border-2 border-green-500 border-dashed rounded-full text-green-400 text-xs font-bold uppercase'
    ><slot name='badge' /></span
  >
</h1>
