---
// Supports weights 100-900
import '@fontsource-variable/urbanist';
import Wrapper from '../components/Wrapper.astro'
import Header from '../components/Header.astro'

interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang='es'>
  <head>
    <meta charset='UTF-8' />
    <meta
      name='description'
      content='Astro description'
    />
    <meta
      name='viewport'
      content='width=device-width'
    />
    <link
      rel='icon'
      type='image/svg+xml'
      href='https://jorgearce.dev/favicon.svg'
    />
    <meta
      name='generator'
      content={Astro.generator}
    />
    <title>{title}</title>
  </head>
  <body>
    <Wrapper>
      <Header />
      <slot />
    </Wrapper>
  </body>
</html>

<style is:global>
	:root{
		color-scheme: light dark;
	}
  html {
    font-family:
	'Urbanist Variable',serif;
    font-size: 16px;
    line-height: 1.5;
  }
</style>
