---
// Supports weights 100-900
import '@fontsource-variable/urbanist'
import Wrapper from '../components/Wrapper.astro'
import Header from '../components/Header.astro'
import Social from '@/components/Social.astro'
import { ViewTransitions } from 'astro:transitions'

interface Props {
  title: string
  description: string
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site)

const { title, description } = Astro.props
---

<!doctype html>
<html lang='es'>
  <head>
    <meta charset='UTF-8' />
    <meta
      name='viewport'
      content='width=device-width'
    />
    <link
      rel='canonical'
      href={canonicalURL}
    />
    <link
      rel='icon'
      type='image/svg+xml'
      href='/favicon.svg'
    />
    <meta
      name='generator'
      content={Astro.generator}
    />
    <title>{title}</title>
    <meta
      name='description'
      content={description}
    />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <ViewTransitions />
  </head>
  <body class='relative h-full w-full bg-slate-950'>
    <div
      class='absolute bottom-0 left-0 right-0 top-0 bg-[linear-gradient(to_right,#4f4f4f2e_1px,transparent_1px),linear-gradient(to_bottom,#4f4f4f2e_1px,transparent_1px)] bg-[size:14px_24px]'
    >
    </div>
    <Wrapper>
      <Header />
      <main class='max-w-3xl m-auto'>
        <slot />
      </main>
      <Social />
    </Wrapper>
  </body><style is:global>
    :root {
      color-scheme: light dark;
      --primary: hsl(210, 85%,33%);
      --primary-dark: hsl(210, 85%, 15%);
      --primary-light: hsl(210, 85%, 85%);
      --primary-link: hsl(210, 100%, 65%);
      --secondary: hsl(10, 70%, 50%);
    }
    html {
      font-family: 'Urbanist Variable', sans-serif;
      font-size: 16px;
      line-height: 1.6;
    }
  </style>
</html>
